@charset "utf-8";

/* 레이아웃 */
#header{width: 100%; height: 65px; border-bottom: 1px solid #c6c6c6; background: rgba(0, 0, 0, 0.8);}
#banner{position: relative; height: 100%;}

/* 가운데영역 */
.container{ position: relative; width: 1500px; margin: 0 auto; }

/* 로우 영역 */
.row{padding: 0 24px;}

.header{text-align: center;}
.header h1{}
.header h1 em{padding: 10px 8px 3px 0px; display: inline-block;}
.header h1 em img{width: 130px; text-align: center;}
.header .nav{width: 100%;}
.header .nav ul{position: relative;}
.header .nav ul li{}
.header .nav ul li a{position: absolute; top: -40px; color: #fff; font-size: 16px; font-weight: 700;}
.header .nav ul li:nth-child(1) a{left: 0;}
.header .nav ul li:nth-child(2) a{left: 80px;}
.header .nav ul li:nth-child(3) a{left: 230px;}
.header .nav ul li:nth-child(4) a{left: 350px;}
.header .nav ul li:nth-child(5) a{left: 470px;}
.header .nav ul li:nth-child(6) a{left: 900px;}
.header .nav ul li:nth-child(7) a{left: 1020px;}
.header .nav ul li:nth-child(8) a{left: 1140px;}
.header .nav ul li:nth-child(9) a{left: 1320px;}
.header .nav ul li:nth-child(10) a{left: 1400px;}

/* 배너 */
.banner_memu{overflow: hidden; position: absolute; left: 0; top: 20px; width: 100%; height: 100px;}
.banner_memu a{color: #fff; font-size: 16px; transition: all 0.3;}
.banner_memu a:hover{color: #c1c1c1;}
.banner_memu .bm_left{float: left;}
.banner_memu .bm_left ul{padding-top: 7px; font-weight: bold;}
.banner_memu .bm_left li{display: inline; margin-right: 30px; position: relative;}
.banner_memu .bm_left .total{margin-right: 20px;}
.banner_memu .bm_left .total a{font-size: 14px; padding: 3px 10px; display: inline-block; border: 1px solid #fff; transition: all 0.3; border-radius: 20px;}
.banner_memu .bm_left .total a:hover{background: #fff; border-color: #000; color: #000;}

.banner_memu .bm_right{float: right; overflow: hidden;}
.banner_memu .bm_right ul{float: left;}
.banner_memu .bm_right ul:first-child{padding-top: 7px; font-weight: bold; text-shadow: 0 0 8px #000;}
.banner_memu .bm_right li{display: inline; text-align: center; margin-right: 20px; position: relative;}
.banner_memu .bm_right .line{margin-right: 30px;}
.banner_memu li.line::after{content: ''; width: 1px; height: 14px; position: absolute; background: #fff; right: -18px; top: 2px;}
.banner_memu .bm_right .white{margin-right: 10px;}
.banner_memu .bm_right .white a{width: 80px;background: #fff; color: #3a0e6a; padding: 7px 30px 9px 30px; border: 1px solid #fff; display: inline-block; font-weight: bold; border-radius: 20px;}
.banner_memu .bm_right .purple{margin-right: 0;}
.banner_memu .bm_right .purple a{width: 80px;background: #3a0e6a; color: #fff; padding: 7px 30px 9px 30px; border: 1px solid #6e40c4; display: inline-block; font-weight: bold; border-radius: 20px;}

/* swiper */
.swiper{width: 100%; height: 100%;}
.swiper-slide {text-align: center; font-size: 18px; background: #fff; display: flex; justify-content: center; align-items: center;}
.swiper-slide img {display: block; width: 100%; height: 550px;; object-fit:fill;}

/* movie */
.movie{}
.movie .movie_title{}
.movie .movie_title ul{}
.movie .movie_title li{}
.movie .movie_chart{}
.movie .movie_chart > div{}
.movie .movie_chart > div > div{}
.movie .movie_chart > div > div .poster{}

/* ico */
.ico{}
.ico img{width: 50px;}
.table{display: table; width: 100%; table-layout: fixed;}
.table .cell{display: table-cell; vertical-align: middle; text-align: center; padding: 20px;}
.table .cell p{text-align: center;}

/* popup */
#popup_layer {position:fixed;top:0;left:0;z-index: 10000; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4);} 
/*팝업 박스*/
.popup_box{position: relative;top:50%;left:50%; width:550px;transform:translate(-50%, -50%);z-index:1002;box-sizing:border-box;background:#fff;box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);-webkit-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);-moz-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);}
/*컨텐츠 영역*/
.popup_box .popup_cont {padding:50px;line-height:1.4rem;font-size:14px;word-break: break-word;}
.popup_box .popup_cont h2 {padding:15px 0;color:#333;margin:0;}
.popup_box .popup_cont p{ border-top: 1px solid #666;padding-top: 30px;}
/*버튼영역*/
.popup_box .popup_btn {display:table;table-layout: fixed;width:100%;height:70px;background:#5d5d5d;word-break: break-word;}
.popup_box .popup_btn a {position: relative; display: table-cell; height:70px; color:#fff; font-size:17px;text-align:center;vertical-align:middle;text-decoration:none; background:#102c5c;}
.popup_box .popup_btn a:before{content:'';display:block;position:absolute;top:26px;right:29px;width:1px;height:21px;background:#fff;-moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg);}
.popup_box .popup_btn a:after{content:'';display:block;position:absolute;top:26px;right:29px;width:1px;height:21px;background:#fff;-moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);}
.popup_box .popup_btn a.close_day {background:#5d5d5d;}
.popup_box .popup_btn a.close_day:before, .popup_box .popup_btn a.close_day:after{display:none;}
/*오버레이 뒷배경*/
.popup_overlay{position:fixed;top:0px;right:0;left:0;bottom:0;z-index:1001;;background:rgba(0,0,0,0.5);}  

/* 미디어 쿼리 */